* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
}
hr{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: #000;
}
/* tittle */
.tittle{
    background-color: #4d4d4d;
}
nav{
    height: 90px;
    width: 100%;
}
.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;    
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 8px;
    /* line-height: 80px; */
    transform: translateY(-50px);
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #title-icon{
    color: white;
    font-size: 30px;
    transform: translateY(-55px);
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media(max-width:1024px){
    h1.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media(max-width:768px){
    nav #title-icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d4d;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
}

/* header */
.bgimg {
    background-image: url(../images/download.jpg);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.top {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background: rgba(97, 128, 175, 0.9);
    text-align: center;
    height: 500px;
    padding-top: 120px;
}

.top img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.top h1 {
    font-family: "Kaushan Script", cursive;
    font-weight: 200px;
    font-size: 30px;
    color: white;
    transform: rotate(-5deg);
}

.top h3 {
    font-size: 25px;
    color: aliceblue;
    font-family: "Space Mono", Arial, serif;
    padding-top: 10px;
}

.head-icon {
    padding-top: 15px;
}

.head-icon a {
    text-decoration: none;
    color: white;
}

.head-icon i {
    margin-left: 10px;
    font-size: 20px;
}

.head-icon i:hover {
    color: black;
}

@media(min-width:768px) {
    .container {
        width: 748px;
    }

    .bgimg {
        background-image: url(../images/download.jpg);
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 657px;
    }

    .top {
        position: absolute;
        top: 114px;
        left: 0;
        right: 0;
        background: rgba(97, 128, 175, 0.9);
        text-align: center;
        height: 657px;
        padding-top: 160px;
    }

    .top img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    .top h1 {
        font-family: "Kaushan Script", cursive;
        font-weight: 200px;
        font-size: 40px;
        color: white;
        transform: rotate(-5deg);
    }

    .top h3 {
        font-size: 30px;
        color: aliceblue;
        font-family: "Space Mono", Arial, serif;
        padding-top: 10px;
    }

    .head-icon {
        padding-top: 15px;
    }

    .head-icon a {
        text-decoration: none;
        color: white;
    }

    .head-icon i {
        margin-left: 10px;
        font-size: 20px;
    }

    .head-icon i:hover {
        color: black;
    }
}

@media(min-width:1024px) {
    .container {
        width: 1000px;
    }

    .bgimg {
        background-image: url(../images/download.jpg);
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 657px;
        
    }

    .top {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        background: rgba(97, 128, 175, 0.9);
        text-align: center;
        height: 657px;
        padding-top: 140px;
    }

    .top img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }

    .top h1 {
        font-family: "Kaushan Script", cursive;
        font-weight: 200px;
        font-size: 50px;
        color: white;
        transform: rotate(-5deg);
    }

    .top h3 {
        font-size: 35px;
        color: aliceblue;
        font-family: "Space Mono", Arial, serif;
        padding-top: 10px;
    }

    .head-icon {
        padding-top: 15px;
    }

    .head-icon a {
        text-decoration: none;
        color: white;
    }

    .head-icon i {
        margin-left: 10px;
        font-size: 25px;
    }

    .head-icon i:hover {
        color: black;
    }
}


/* about */

.about{
    background: #e8e9ec;
    border-bottom: 2px solid #fcebe3;
    padding-bottom: 30px;
}
.about-head {
    text-align: center;
    color: black;
    font-family: cursive;
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
}
.about-head h2{
    color: #0563bb;
}
.about-flex {
    padding-top: 1px;
    padding-bottom: 30px;
}

.about-left {
    width: 95%;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    line-height: 40px;
}

.about-left span {
    font-size: 18px;
    color: #000;
    font-family: "Kaushan Script", cursive;
    padding-right: 20px;
    float: left;
}

.about-left h2 {
    font-family: "Kaushan Script", cursive;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.about-right {
    width: 95%;
    padding-top: 50px;
    padding-left: 50px;
}

.about-right h2 {
    font-size: 20px;
    padding-bottom: 20px;
    color: #000;
    font-family: "Space Mono", Arial, serif;
}

.about-right p {
    font-size: 18px;
    line-height: 30px;
    color: #4d4d4d;
    font-family: "Kaushan Script", cursive;
}
.about-right button{
    font-size: 20px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #38393a;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}

@media(min-width:768px) {
    .container {
        width: 98%;
    }

    .about-head {
        text-align: center;
        color: black;
        font-family: cursive;
        font-weight: 300;
        font-size: 25px;
        padding-top: 30px;
    }

    .about-flex {
        padding-top: 1px;
        padding-bottom: 30px;
    }

    .about-left {
        width: 100%;
        text-align: left;
        padding-left: 120px;
        padding-top: 30px;
        line-height: 40px;
    }

    .about-left span {
        font-size: 23px;
        color: #000;
        font-family: "Kaushan Script", cursive;
        padding-right: 20px;
        float: left;
    }

    .about-left h2 {
        font-family: "Kaushan Script", cursive;
        color: rgba(0, 0, 0, 0.5);
        font-size: 25px;
    }

    .about-right {
        width: 100%;
        padding-top: 50px;
        padding-left: 120px;
    }

    .about-right h2 {
        font-size: 25px;
        padding-bottom: 20px;
        color: #000;
        font-family: "Space Mono", Arial, serif;
    }

    .about-right p {
        font-size: 23px;
        line-height: 30px;
        color: #4d4d4d;
        font-family: "Kaushan Script", cursive;
    }
}

@media(min-width:1024px) {
    .container {
        width: 98%;
    }

    .about-head {
        text-align: center;
        color: black;
        font-family: cursive;
        font-weight: 400;
        font-size: 30px;
        padding-top: 30px;
    }

    .about-flex {
        display: flex;
        padding-bottom: 30px;
    }

    .about-left {
        width: 50%;
        text-align: left;
        padding-left: 80px;
        padding-top: 50px;
        line-height: 40px;
    }

    .about-left span {
        font-size: 25px;
        color: #000;
        font-family: "Kaushan Script", cursive;
        padding-right: 20px;
        float: left;
    }

    .about-left h2 {
        font-family: "Kaushan Script", cursive;
        color: rgba(0, 0, 0, 0.5);
        font-size: 25px;
    }

    .about-right {
        width: 50%;
        padding-top: 50px;
        padding-left: 50px;
    }

    .about-right h2 {
        font-size: 30px;
        padding-bottom: 20px;
        color: #000;
        font-family: "Space Mono", Arial, serif;
    }

    .about-right p {
        font-size: 25px;
        line-height: 30px;
        color: #4d4d4d;
        font-family: "Kaushan Script", cursive;
    }
}

/* portfolio */

.port{
    padding: 30px;
    padding-bottom: 40px;
}
.port-head{
    text-align: center;
}
.port-head h1{
    font-size: 20px;
    font-family: "Kaushan Script", cursive;
    color: #0563bb;   
}
.port-flex{
    padding-top: 5px;
}
.port-box{
    justify-content: space-evenly;
    text-align: center;
}
.port-box img{
    width: 300px;
    position: relative;
    /* margin-left: 70px; */
    margin-top: 20px;
    justify-content: space-evenly;
}
.port-box h1{
    position: absolute;
    top: 50%;
    left: 50%;
}
@media(min-width:768px){
    .container{
        width: 90%;
    }
    .port-head{
        text-align: center;
    }
    .port-head h1{
        font-size: 25px;
        font-family: "Kaushan Script", cursive;   
    }
    .port-flex{
        padding-top: 5px;
        display: flex;
    }
    .port-box img{
        width: 90%;
        justify-content: space-evenly;
        /* margin-left: 20px; */
        margin-top: 20px;
    }
}

/* resume */

.resume {
    background-color: #e3e8f3;
}

.resume-head {
    text-align: center;
    padding-top: 30px;
}

.resume-head h1 {
    font-size: 20px;
    font-family: cursive;
    color: #0563bb;
}

.resume-head h4 {
    font-size: 20px;
    padding-top: 15px;
    font-family: "Kaushan Script", cursive;
}

.resume-flex {
    padding-top: 1px;
    padding-bottom: 30px;
}

.box {
    text-align: center;
    align-items: center;
}

.box1 {
    text-align: center;
}

.icon {
    padding-top: 30px;
    padding-bottom: 20px;
}

.icon i {
    box-shadow: 0 0 1px;
    border-radius: 50%;
    background-color: rgb(79, 101, 226);
    color: white;
    padding: 10px;
    font-size: 30px;
}
.text h1, h3{
    font-family: "Kaushan Script", cursive;
}

@media(min-width:768px) {
    .container {
        width: 98%;
    }

    .resume {
        background-color: #e3e8f3;
    }

    .resume-head {
        text-align: center;
        padding-top: 30px;
    }

    .resume-head h1 {
        font-size: 25px;
        font-family: cursive;
    }

    .resume-head h4 {
        font-size: 25px;
        padding-top: 15px;
        font-family: "Kaushan Script", cursive;
    }

    .resume-flex {
        padding-top: 1px;
        padding-bottom: 30px;
    }

    .box {
        text-align: center;
        align-items: center;
    }

    .box1 {
        text-align: center;
    }

    .icon {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .icon i {
        box-shadow: 0 0 1px;
        border-radius: 50%;
        background-color: rgb(79, 101, 226);
    color: white;
        padding: 10px;
        font-size: 30px;
    }
    .text h1, h3{
        font-family: "Kaushan Script", cursive;
    }
}

@media(min-width:1024px) {
    .container {
        width: 98%;
    }

    .resume {
        background-color: #e3e8f3;
    }

    .resume-head {
        text-align: center;
        padding-top: 30px;
    }

    .resume-head h1 {
        font-size: 30px;
        font-family: cursive;
    }

    .resume-head h4 {
        font-size: 30px;
        padding-top: 15px;
        font-family: "Kaushan Script", cursive;
    }

    .resume-flex {
        padding-top: 1px;
        padding-bottom: 30px;
    }

    .split {
        display: flex;
        justify-content: space-between;
    }

    .box {
        padding-left: 40px;
    }

    .box1 {
        text-align: center;
        align-items: center;
    }

    .icon {
        padding-top: 30px;
    }

    .icon i {
        box-shadow: 0 0 1px;
        border-radius: 50%;
        background-color: rgb(79, 101, 226);
    color: white;
        padding: 10px;
        font-size: 30px;
    }
    .text h1, h3{
        font-family: "Kaushan Script", cursive;
    }
}


/* skkils */
.skils-head h1{
    text-align: center;
    font-size: 20px;
    color: #0563bb;
    font-family: "Kaushan Script", cursive;
}
.skil-flex{
    text-align: center;
}
.skil-box{
    background-color: #fafeff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    border-radius: 15px;
    border-bottom: 3px solid #fff;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 15px;
    padding: 30px;
}
.skil-box h2{
    font-family: "Kaushan Script", cursive;
    padding: 10px;
    color: #4d4d4d;
}
.skil-box p{
    font-family: "Kaushan Script", cursive;
    padding: 10px;
}
@media(min-width:768px){
    .container{
        width: 90%;
    }
    .skil-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .skil-box{
        width: 45%;
        margin-left: 20px;
        justify-content: space-evenly;
        background-color: #fafeff;
        box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
        border-radius: 15px;
        border-bottom: 3px solid #fff;
        margin-top: 20px;
        margin-left: 15px;
        padding: 30px;
    }
}
@media(min-width:1024px){
    .container{
        width: 90%;
    }
    .skil-flex{
        display: flex;
        flex-wrap: wrap;
        margin-left: 60px;
    }
    .skil-box{
        width: 30%;
        margin-left: 60px;
        justify-content: space-evenly;
        background-color: #fafeff;
        box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
        border-radius: 15px;
        border-bottom: 3px solid #fff;
        margin-top: 20px;
        margin-left: 15px;
        padding: 30px;
    }
}

/* contact */
.contact{
    background-color: #38393a;
    margin-top: 20px;
    padding: 30px;
}
.contact-head{
    text-align: center;
    padding-top: 20px;
    font-family: "Kaushan Script", cursive;
}
.contact-head h1{
    color: white;
}
.contact-flex{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.contact-box h2{
    font-family: "Kaushan Script", cursive;
    color: white;
}
.contact-box p{
    font-family: "Kaushan Script", cursive;
    color: white;
}
.address{
    text-align: center;
}
.address h3{
    font-family: "Kaushan Script", cursive;
    padding-top: 15px;
    color: white;
}
.address a{
    color: white;
    font-family: "Kaushan Script", cursive;
}
.contact-icon{
    margin-top: 20px;
}
.contact-icon i{
    border: white 2px solid;
    padding: 10px;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 50%;
}
@media(min-width:768px){
    .container{
        width: 90%;
    }
    .contact-flex{
        display: flex;
    }
    .contact-box{
        width: 45%;
        text-align: left;
        padding-left: 80px;
        padding-top: 35px;
    }
    .address{
        width: 45%;
        padding-top: 20px;
        padding-left: 40px;
        padding-bottom: 30px;
    }
}
@media(min-width:1024px){
    .container{
        width: 90%;
    }
    .contact-flex{
        display: flex;
    }
    .contact-box{
        width: 45%;
        text-align: left;
        padding-left: 80px;
        padding-top: 35px;
    }
    .address{
        text-align: left;
        width: 45%;
        padding-top: 20px;
        padding-left: 300px;
        padding-bottom: 30px;
    }
}


/* chat */
.chat{
    background-color: #ffffff;
    height: 300px;
}
.chat-flex{
    text-align: center;
    padding-top: 100px;
}
.chat-flex h1{
    font-size: 30px;
    font-family: "Kaushan Script", cursive;
}
.chat-flex button{
    font-size: 20px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #ec961c;
    border: none;
    color: white;
}
@media(min-width:768px){
    .container{
        width: 98%;
    }
    .chat{
        background-color: #ffffff;
        height: 300px;
    }
    .chat-flex{
        text-align: center;
        padding-top: 100px;
    }
    .chat-flex h1{
        font-size: 40px;
        font-family: "Kaushan Script", cursive;
    }
    .chat-flex button{
        font-size: 20px;
        width: 120px;
        height: 35px;
        border-radius: 20px;
        margin-top: 20px;
        background-color: #ec961c;
        border: none;
        color: white;
    }
}
@media(min-width:1024px){
    .container{
        width: 98%;
    }
    .chat{
        background-color: #ffffff;
        height: 300px;
    }
    .chat-flex{
        text-align: center;
        padding-top: 100px;
    }
    .chat-flex h1{
        font-size: 50px;
        font-family: "Kaushan Script", cursive;
    }
    .chat-flex button{
        font-size: 20px;
        width: 120px;
        height: 35px;
        border-radius: 20px;
        margin-top: 20px;
        background-color: #ec961c;
        border: none;
        color: white;
    }
}


/* legel */

.legel{
    background-color: #4d4d4d;
    height: 100px;
}
.design{
    text-align: center;
    padding-top: 30px;
}
.design p{
    color: white;
    font-family: "Kaushan Script", cursive;
}
.design h3{
    color: white;
    padding-top: 5px;
    font-family: "Kaushan Script", cursive;
}
