*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}
/* navbar */
nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 100px;
    background: #444444;
}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
}
nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links a{
    display: block;
    padding: 1em;
    font-size: 17px;
    font-weight: bold;
    color: white;
}
#nav-toggle{
    position: absolute;
    top: -100px;
}
nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
@media(max-width:768px){
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        flex-direction: column;
        width: auto;
        height: auto;
        bottom: 100%;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.8);
    }
    nav .links a{
        font-size: 20px;
    }
    nav .icon-burger{
        display: block;
    }
    nav :checked ~ .links{
        bottom: 0;
    }
    nav :checked ~ .icon-burger .line:nth-child(1){
         transform: translateY(10px) rotate(225deg);        
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
         transform: translateY(-10px) rotate(-225deg);        
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
         opacity: 0;        
    }
}


/* banner */
.bg-img{
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    height: 657px;
    margin-top: 50px;
}
.banner-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    position: absolute;
    top: 220px;
    text-align: center;
}
.profile h1{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #606060;
}
.profile h2{
    font-size: 15px;
    padding-bottom: 10px;
    color: rgb(235, 92, 9);
}
.profile p{
    color: #606060;
    line-height: 25px;
}
.profile p b{
    color: #444444;
    padding: 10px;
}
.profile button{
    font-size: 16px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 92, 9);
    color: white;
}
@media(min-width:768px){
    .profile h1{
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 10px;
        color: #606060;
    }
    .profile h2{
        font-size: 25px;
        padding-bottom: 10px;
        color: rgb(235, 92, 9);
    }
    .profile p{
        color: #606060;
        line-height: 25px;
    }
    .profile p b{
        color: #444444;
        padding: 10px;
    }
}
@media(min-width:1024px){
    .profile h1{
        font-size: 50px;
        font-weight: 600;
        padding-bottom: 10px;
        color: #606060;
    }
    .profile h2{
        font-size: 35px;
        padding-bottom: 10px;
        color: rgb(235, 92, 9);
    }
    .profile p{
        color: #606060;
        line-height: 25px;
    }
    .profile p b{
        color: #444444;
        padding: 10px;
    }
}


/* about */
.about{
    background: #faf5f3;
    padding-bottom: 50px;
}
.about-head{
    text-align: center;
}
.about-head h2{
     color: #606060;
    font-size: 40px;
    padding: 30px;
}
.about-head h2 b{
    color: #2c2c2c;
}
.about-left{
    text-align: center;
}
.about-left img{
    width: 300px;
    height: 300px;
}
.about-right{
    text-align: center;
}
.about-right h3{
    font-size: 30px;
    color: #606060;
    padding-top: 5px;
}
.about-right h3 b{
    color: #2c2c2c;
}
.about-right h4{
    font-size: 25px;
    color: #eb5424;
    padding-top: 15px;
}
.about-right p{
    padding-top: 15px;
    padding-bottom: 35px;
    line-height: 25px;
    color: #444444;
    font-size: 17px;
}
.about-right i{
    background-color: #eb5424;
    color: white;
    padding: 13px;
    border-radius: 50%;
    margin-top: 20px;
}
@media(min-width:768px){
    .about-flex{
        display: flex;
        justify-content: space-evenly;
    }
    .about-left{
        width: 45%;
        text-align: center;
    }
    .about-right{
        width: 45%;
        text-align: left;
    }
}
@media(min-width:1024px){
    .about-flex{
        display: flex;
        justify-content: space-evenly;
    }
    .about-left{
        width: 45%;
    }
    .about-right{
        width: 45%;
        text-align: left;
    }
}
/* work */

.work{
    margin-top: 20px;
    margin-bottom: 20px;
}
.work-head{
    text-align: center;
}
.work-head h2{
    color: #606060;
    font-size: 40px;
    padding: 30px;
}
.work-head h2 b{
    color: #2c2c2c;
}
.work-flex{
    justify-content: space-evenly;
}
.work-box{
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(77, 77, 77);
}
.work-box i{
    font-size: 30px;
    color: gold;
}
.work-box h3{
    font-size: 20px;
    padding-bottom: 10px;
    color: #eb5424;
}
.work-box p{
    color: #606060;
}
@media(min-width:768px){
    .work-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .work-box{
        width: 45%;
        margin-bottom: 10px;
        padding: 20px;
        text-align: center;
        border: 1px solid rgb(77, 77, 77);
    }
    .work-box i{
        font-size: 30px;
        color: gold;
    }
    .work-box h3{
        font-size: 20px;
        padding-bottom: 10px;
        color: #eb5424;
    }
    .work-box p{
        color: #606060;
    }
}
@media(min-width:1024px){
    .work-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .work-box{
        width: 30%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 20px;
        padding: 20px;
        text-align: center;
        border: 1px solid rgb(77, 77, 77);
    }
    .work-box i{
        font-size: 30px;
        color: gold;
    }
    .work-box h3{
        font-size: 30px;
        padding-bottom: 10px;
        padding-top: 20px;
        color: #eb5424;
    }
    .work-box p{
        font-size: 17px;
        line-height: 30px;
        color: #606060;
    }
}

/* portfolio */

.port{
    background: #f8f8f8;
}
.port-head{
    text-align: center;
}
.port-head h2{
    font-size: 40px;
    color: #606060;
    padding: 30px;
}
.port-img{
    width: 100%;
}
.port-img h2{
    text-align: center;
    padding-top: 10px;
}
.port-img h2 a{
    color: #eb5424;
}
.port-img img{
    width: 100%;
}
@media(min-width:768px){
    .port-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .port-img{
        width: 50%;
    }
}
@media(min-width:1024px){
    .port-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .port-img{
        width: 33.3%;
    }
}

/* resume */
.resume{
    background: #faf5f3;
    padding-bottom: 50px;
}
.resume-head{
    text-align: center;
}
.resume-head h2{
    color: #606060;
    font-size: 40px;
    padding: 30px;
}
.resume-head h2 b{
    color: #2c2c2c;
}
.resume-left{
    padding-bottom: 20px;
}
.resume-left p{
    padding-top: 10px;
    font-size: 20px;
    line-height: 25px;
}
.resume-right p{
    font-size: 20px;
    line-height: 25px;
}
@media(min-width:768px){
    .resume-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .resume-left{
        width: 45%;
    }
    .resume-right{
        width: 45%;
    }
}
@media(min-width:1024px){
    .resume-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .resume-left{
        width: 45%;
    }
    .resume-right{
        width: 45%;
    }
}

/* skil */

.skil-head{
    text-align: center;
}
.skil-head h2{
     color: #606060;
    font-size: 40px;
    padding: 30px;
}
.skil-head h2 b{
    color: #2c2c2c;
}
.skil-flex{
    margin-bottom: 30px;
}
.skil-box{
    background: #2c2c2c;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 5px;
}
.skil-box i{
    color: #eb5424;
    font-size: 30px;
    padding: 10px;
    border: 2px solid #eb5424;
    border-radius: 50%;
}
.skil-box h2{
    color: #eb5424;
    font-size: 25px;
    padding-top: 20px;
}
.skil-box p{
    color: white;
    padding-top: 10px;
    line-height: 25px;
}
@media(min-width:768px){
    .skil-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .skil-box{
        width: 45%;
    }
}
@media(min-width:1024px){
    .skil-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .skil-box{
        width: 18%;
    }
}


/* contact */

.contact-part1{
    background: #3b5998;
}
.contact-part2{
    background: #55acee;
}
.contact-part3{
    background: #cc2127;
}
.contact-box{
    padding: 60px;
    text-align: center;
}
.contact-box i{
    background-color: white;
    color: #606060;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
.contact-box h3{
    color: white;
    padding-top: 30px;
}
.contact-box p{
    color: white;
    padding-top: 10px;
}
@media(min-width:768px){
    .contact-flex{
        display: flex;
    }
    .contact-part1{
        width: 33.3%;
    }
    .contact-part2{
        width: 33.3%;
    }
    .contact-part3{
        width: 33.3%;
    }
}
@media(min-width:1024px){
    .contact-flex{
        display: flex;
    }
    .contact-part1{
        width: 33.3%;
    }
    .contact-part2{
        width: 33.3%;
    }
    .contact-part3{
        width: 33.3%;
    }
}

/* legal */
.legal-flex{
    text-align: center;
    padding: 40px;
}
.legal-flex p b{
    color: #eb5424;
}
