*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.container{
    width: 100%;
}

.banner{
    padding-top: 1px;
}
.main{
    display: flex;
    justify-content: center;
    background-color: #8ea69b;
}
.main img{
    width: 170px;
    height: 170px;
    margin: 100px;
}
.side{
    text-align: center;
    padding-top: 20px;
}
.side h1{
    font-size: 20px;
    font-family: cursive;
}
.side h4{
    font-family: cursive;
    font-size: 17px;
    padding-top: 10px;
}
.side li{
    padding-top: 7px;
}
.icon{
    margin-top: 20px;
}
.icon i{
    box-shadow: 0 0 0px;
    border-radius: 50%;
    background-color: #8ea69b;
    font-size: 20px;
    padding: 15px;
}
.icon a{
    color: black;
}
@media(min-width:1024px){
    .container{
        width: 100%;
    }
    .banner-flex{
        display: flex;
    }
    .main{
        width: 40%;
    }
    .main img{
        width: 200px;
        height: 200px;
        margin: 150px;
    }
    .side{
        width: 60%;
        justify-content: right;
        
    }
}


/* about */
.about{
    margin-top: 20px;
}
.about-flex{
    text-align: center;
}
.about-flex h2{
    font-size: 20px;
    font-family: cursive;
    color: #8ea69b;
    padding-bottom: 15px;
    padding-top: 20px;
}
.about-flex p{
    font-size: 17px;
    font-family: cursive;
    padding: 15px;
}


/* skils */
.skil-flex{
    text-align: center;
}
.skil-flex h2{
    font-size: 20px;
    font-family: cursive;
    color: #8ea69b;
    padding-bottom: 15px;
    padding-top: 20px;
}
.skil-flex h4{
    padding-top: 10px;
    font-family: cursive;
}
.skil-flex h4 i{
    padding-right: 5px;
}
.skil-flex p{
    font-family: cursive;
    padding: 10px;
}


/* study */

.study-flex{
    text-align: center;
}
.study-flex h2{
    font-size: 20px;
    font-family: cursive;
    color: #8ea69b;
    padding-bottom: 15px;
    padding-top: 20px;
}
.study-flex h4{
    padding-top: 10px;
    font-family: cursive;
}
.study-flex p{
    font-family: cursive;
    padding-top: 10px;
}